@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");
html,
body {
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  margin: 0;
}
html *,
body * {
  box-sizing: border-box;
  font-weight: 600;
}

.cl-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: calc(10vh + 2em);
}
.cl-page .cl-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
}
.cl-page .cl-header {
  display: flex;
  flex-direction: column;
  height: calc(30vh + 1em);
  align-items: center;
  position: relative;
  justify-content: center;
}
.cl-page .cl-header .cl-header-bg-pattern {
  display: block;
  width: calc(50vw + 3em);
  height: calc(15vh + 2em);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/pattern-circles.svg");
  position: absolute;
}
.cl-page .cl-header .cl-header-text {
  z-index: 1;
}
.cl-page .cl-header .cl-header-text .cl-head {
  font-size: 1.5em;
  font-weight: 800;
  color: #293356;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.cl-page .cl-header .cl-header-text .cl-sub-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.9em;
  color: #858fad;
}
.cl-page .cl-card {
  display: flex;
  flex-direction: column;
  color: #858fad;
  box-shadow: 0px 10px 28px 0px rgba(198, 198, 198, 0.28);
  background-color: white;
  z-index: 100;
  flex-basis: 1;
  padding: 20px 0;
  width: 85%;
  border-radius: 8px;
  user-select: none;
  max-width: calc(600px + 2em);
  max-height: calc(1000px + 2em);
}
.cl-page .cl-card .cl-body {
  padding: 20px;
}
.cl-page .cl-card .cl-body .cl-pageviews {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: 800;
  text-transform: uppercase;
}
.cl-page .cl-card .cl-body .cl-slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 4em;
  width: 100%;
}
.cl-page .cl-card .cl-body .cl-slider .cl-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.cl-page .cl-card .cl-body .cl-slider .cl-content .cl-track {
  position: relative;
  width: 100%;
  height: 10px;
  background-color: #eaeefb;
  cursor: pointer;
  border-radius: 25px;
}
.cl-page .cl-card .cl-body .cl-slider .cl-content .cl-track .cl-fill-track {
  position: absolute;
  background-color: #a5f3eb;
  width: 50px;
  height: 10px;
  left: 0;
  cursor: pointer;
  border-radius: 25px;
}
.cl-page .cl-card .cl-body .cl-slider .cl-content .cl-track .cl-slider-btn {
  display: block;
  position: absolute;
  background-color: #10d5c2;
  top: -25px;
  left: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url("../images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  box-shadow: 0 15px 20px 10px #a5f3eb;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 600ms ease;
}
.cl-page .cl-card .cl-body .cl-slider .cl-content .cl-track .cl-slider-btn:active {
  opacity: 1;
  background-color: #10d5c2;
}
.cl-page .cl-card .cl-body .cl-price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
}
.cl-page .cl-card .cl-body .cl-price .cl-value {
  font-size: 2.5em;
  font-weight: 800;
  color: #293356;
}
.cl-page .cl-card .cl-body .cl-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}
.cl-page .cl-card .cl-body .cl-options .cl-monthly-billing-option {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cl-page .cl-card .cl-body .cl-options .cl-monthly-billing-option .cl-checkbox {
  margin: 0 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60px;
  height: 30px;
  border-radius: 25px;
  background-color: #eaeefb;
  padding: 8px 4px;
  position: relative;
  transition: all 300ms ease;
  cursor: pointer;
}
.cl-page .cl-card .cl-body .cl-options .cl-monthly-billing-option .cl-checkbox input {
  display: none;
}
.cl-page .cl-card .cl-body .cl-options .cl-monthly-billing-option .cl-checkbox .cl-btn {
  display: inline-block;
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  position: absolute;
  transition: all 300ms ease;
}
.cl-page .cl-card .cl-body .cl-options .cl-monthly-billing-option .cl-checkbox.active {
  background-color: #a5f3eb;
}
.cl-page .cl-card .cl-body .cl-options .cl-monthly-billing-option .cl-checkbox.active .cl-btn {
  transform: translateX(100%);
}
.cl-page .cl-card .cl-body .cl-options .cl-monthly-billing-option .cl-percentage {
  margin-left: 1em;
  background-color: #feece7;
  border-radius: 25px;
  padding: 0.5em 1em;
  font-size: 0.8em;
  color: #ff8c66;
}
.cl-page .cl-card .cl-divider {
  width: 100%;
  height: 2px;
  background-color: #eaeefb;
  margin: 15px 0;
}
.cl-page .cl-card .cl-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.cl-page .cl-card .cl-footer .cl-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0;
}
.cl-page .cl-card .cl-footer .cl-options .cl-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  margin: 8px 0;
}
.cl-page .cl-card .cl-footer .cl-options .cl-item .cl-mark {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 12px;
  height: 12px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/icon-check.svg");
  margin-right: 1.4em;
}
.cl-page .cl-card .cl-footer .cl-btn {
  background-color: #293356;
  color: #cdd7ee;
  border-radius: 25px;
  text-align: center;
  word-wrap: normal;
  word-break: keep-all;
  width: calc(50% + 3em);
  padding: 1em 0;
  cursor: pointer;
}
.cl-page .cl-card .cl-footer .cl-btn:hover {
  color: white;
  transition: color 300ms ease;
}

@media (min-width: 800px) {
  .cl-page {
    font-size: 18px;
  }
  .cl-page .cl-card {
    width: 50%;
  }
  .cl-page .cl-card .cl-upper-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 96%;
    height: calc(30vh + 1em);
    max-height: calc(200px + 2em);
  }
  .cl-page .cl-card .cl-upper-container .cl-pageviews {
    display: flex;
    order: 1;
    margin: 0;
    width: calc(35% + 1em);
    height: 5em;
    align-items: center;
  }
  .cl-page .cl-card .cl-upper-container .cl-price {
    height: 5em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    order: 2;
    right: 0;
    position: absolute;
    margin: 0;
    padding: 0;
  }
  .cl-page .cl-card .cl-upper-container .cl-price .cl-value {
    font-size: 2.5em;
    font-weight: 800;
    color: #293356;
  }
  .cl-page .cl-card .cl-upper-container .cl-slider {
    order: 3;
  }

  .cl-footer {
    display: flex;
    flex-direction: row !important;
  }
  .cl-footer .cl-options {
    display: flex;
    flex-direction: column;
    align-items: unset !important;
    margin-left: calc(10% + 1em);
  }
  .cl-footer .cl-btn {
    margin-right: 2em;
  }
}

/*# sourceMappingURL=style.css.map */
